{% extends 'posts_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container bg-dark pt-3 pl-5 ">
	<div class="  bg-light col-lg-4 col-md-4 col-sm-4  justify-content-center" style="margin-left: 30%">
		<div class="">
			{% if user.profile.image %}
                <a href="{% url 'posts_app:profile' user.profile.id %}"><img src="{{user.profile.image.url}}" class="rounded-circle" width="100px" height="100px"></a>
                {% else %}
                <a href="{% url 'posts_app:profile' user.profile.id %}"class='text-secondary display-4'><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                {% endif %}

		{% if request.user != user %}
		{% if request.user in user.profile.following.all %}
		<button  class=" follow btn btn-success ml-5 " data="{{user.profile.id}}"><span class="is_following">following</span></button>
		{% else %}
		<button  class=" follow btn btn-success ml-5 " data='{{user.profile.id}}' ><span class="is_following">follow</span></button>
		{% endif %}
		<br>

		{% endif %}
		<p>{{user.get_full_name}}</p>
		<p>{{user.profile.status}}</p>
		</div>
	</div>
{% for post in post_list %}
	<div class="text-center ml-5 pl-5" >


		<div class=" post{{post.id}} col-md-8 bg-info ml-5 mt-3 py-3" >
			{% if post.image %}
			<img src="{{post.image.url}}" width="300" height="300" class="mb-3"><br>

			{% endif %}
			<div class="rounded bg-secondary text-white px-1 mt-2  ">
                  <p>
                {{post.text}}
                </p>
                </div>
			{% if request.user == post.owner %}
			<a href="{% url 'posts_app:edit_post' post.id %}" class="text-white ml-2 mr-5"><h6 class="d-inline"><i class="fa fa-edit fa-lg  " aria-hidden="true" class="" style="margin-left: 10px;"></i></h6> </a>
			 <form action="{% url 'posts_app:delete_post' post.id %}" class="delete_post{{post.id}} d-inline">
			 	{% csrf_token %}
			 	<a href="{% url 'posts_app:delete_post' post.id %}" class="delete_post text-white ml-2" data="{{post.id}}"><h6 class="d-inline "  ><i class="fa fa-trash fa-lg  " aria-hidden="true" class="" style="margin-left: 10px;"></i></h6> </a>
			 </form>
			{% endif%}

		</div>
	</div>
{% endfor %}
</div>
<script>


</script>


{% endblock %}